nav {
  align-items: center;
  background: #00a087;
  color: #e8fdff;
  display: flex;
  font-size: 2em;
  height: 80px;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.logo {
  height: 80px;
  width: 80px;
}

span .header {
  font-size: 2em;
  line-height: 1.6;
  margin-left: 10px;
}

nav .nav-buttons {
  background: #e7fdff;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  color: #00a087;
  padding: .4em .2em .5em;
  position: fixed;
  right: 2em;
}

nav .nav-buttons .compose-button {
  font-size: .6em;
}